* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui,
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.topbar {
  background: rgb(254, 207, 80);
  padding: 0 10px;
  width: 100%;
  height: 60px;
  line-height: 60px;

  margin-right: 16px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(62, 57, 107);
}

.wrapper {
  display: flex;
  height: calc(100% - 60px);
}

.left {
  border-right: 1px solid #eee;
  padding: 20px;
  min-width: 320px;
}

.right {
  flex-grow: 1;
  padding: 20px;
}

.guide {
  margin-bottom: 15px;
}

.ais-Hits {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ais-Hits-item em {
  font-style: normal;
  background-color: rgba(254, 207, 80, .3);
}

.ais-SearchBox-form {
  max-width: 500px;
}

.ais-SearchBox-input {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #3a4570;
}

.ais-Pagination {
  margin-top: 20px;
}

#price .ais-Panel-body {
  max-width: 92%;
  margin-left: 4%;
}

#refinement-lists > div {
  margin-top: 20px;
}

#refinement-lists > div:nth-child(1) {
  margin-top: 50px;
}
